$font:#bc8688;
//$font: #1f1c1d;
$background-primary: #fef8f6;
$background-secondary: #bc8688;
$header-background: #FFC8C8;

$font-secondary: #787878;
$font-secondary-light: #9f9f9f;
$font-secondary-lighter: #fee0de;
