$font:#2e3454;
$font-transparent: #2e3454b9;
$background-primary: #f0f0f5;
$background-secondary: #b6b4c8;
$header-background: #7a7c9c;
$highlight: #5269ee;
$font-secondary: #5b6186;
$font-secondary-transparent:#5b6186cc ;
$font-secondary-light: #9998b2;
$font-secondary-lighter: #f3f3f5;
$font-secondary-light-2: #cfcfcf;
