.Addresses{
    max-width: 90%;
    margin: 0 auto;
        .form{
            .Addresses__title{
                text-align: center;
            }

            .ui.input{
                font-size: 1.6rem;
                
                input{
                    background-color: $font-secondary-lighter;

                    &:focus{
                        border-color: $background-secondary;
                    }

                }
            }

            .ui.button{
                font-size: 1.2rem;
                background-color: $font;
                color:$font-secondary-lighter;
            }
        }
}