.Account{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;

    &__sidebar{
        width:100%;
        background:$background-secondary;
        padding:10px 0px 20px 0px;
        border: 1px solid $font-secondary;
        border-radius:4px;
        box-shadow:0px 4px 5px rgba(0, 0, 0, 0.75);
        max-height: 35rem;

        .ui.basic.button{
            width: 100%;
            display: block;
            box-shadow: none;
        }

        &__link{
            background-color: transparent;
            display: block;
            font-size:2.5rem;
            font-weight:300;
            text-align:center;
            position:relative;
            height:40px;
            line-height:40px;
            margin-top:10px;
            overflow:hidden;
            width:90%;
            margin-left:5%;
            cursor:pointer;
            color: $font;
            
            &:hover{
                color: $font-secondary;
            }
        }
    }

    
    
}