.AddressList__address{
    background: $font-secondary;
    padding: 10px 0px 20px 0px;
    border: 1px solid $font;
    border-radius: 4px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.75);
    max-height: 35rem;
    padding: 1rem;

    h3{
        border-bottom: 1px solid $font-secondary-lighter;
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 2.4rem;
        color:$font-secondary-lighter;
    }
    
    p{
        color: $font-secondary-lighter;
        margin: .5rem;
    }

    .ui.primary.button{
        color: $font-secondary-lighter;
        background-color: $font;
    }

    .ui.button{
        background-color: $font-secondary-lighter;
        color: $font;
    }

    &.active{
        box-shadow: 0 0 5px $highlight;
        border: 1px solid $highlight;
        background-color: $background-secondary;
    }
}