.ProductHeader{
    color:$font-secondary;
    margin-top: 2rem!important ;
    
    @media(max-width:768px){
        .sixteen.wide.mobile:last-of-type{
            margin-top: 2.5rem;
        }

        &__title{
            font-size: 3rem;
        }

        &__description{
            font-size: 1.6rem;
        }
    }
    &__title{
        font-size: 3.6rem;
        font-weight: 300;
    }

    &__description{
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding-bottom: 2rem;
    }

    &__price{
        p{
            color:$font;
            font-weight: 700;
            font-size: 3.6rem;
            font-family: 'Amatic SC', cursive;
            margin: 0;

            span{
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
                color:$font-secondary;
                font-size: 1.6rem;
            }
        }
    }

    &__sizes{
        &__button.ui.button{
            border: 1px solid rgba(0,0,0,.25);
            border-radius: 6px;
            cursor: pointer;
            display: -webkit-inline-flex;
            display: inline-flex;
            font-size: 12px;
            font-weight: 400;
            padding: 1rem .8rem;
            background-color: $font-secondary-lighter;
            margin-right: 8px;
        }

        .ui.button.active{
            border: 1px solid $font-secondary;
        }

        &__stock{
            margin-top: 1rem;
            font-size: 1.2rem;
            color: $font-transparent;
        }
    }

    &__actions{
        display: flex;

        input{
            color: #555;
            background-color: #fff;
            height: 100%;
            padding: .28rem .8rem;
            height: auto;
            width: 4.63rem;
            border: 1px solid rgba(0,0,0,.15);

            &:focus{
                box-shadow: 0 0 5px $font;
                outline: none;
            }
        }

        .favorite{
            font-size: 2rem;
            padding: 0!important;
            color: $font;
            background-color: transparent;
            margin-left: 1rem;
            transition: all 0.3s ease-in;

            &:hover{
                background-color: transparent;
                transition: all 0.3s ease-out;
                transform: scale(1.2);
                color: $font;
            }

            &:focus{
                background-color: transparent;
                color: $font;
            }
    
        }

        .quantity::-webkit-outer-spin-button, .quantity::-webkit-inner-spin-button{
            appearance: none;
            margin:0;
        }

        &__verticalArrows{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: auto;
            button{
                background-color: white!important;
                height: auto;

                &:focus{
                    box-shadow: 0 0 5px $font;
                }
            }
        }

        

        .ui.button.left.labeled{
            margin-left: 1rem;
            font-size: initial;
            background-color: $font;
            color: $font-secondary-lighter;
            font-weight: 300;
        }
    }

    .row{
        margin-bottom: 1.5rem;
        padding:1rem;
    }

    .row:first-of-type{
        padding:0;
    }

    
}