.Reset{
    // height: calc(100vh - 30rem);
    max-width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media(max-width:768px){
        max-width: 90%;
    }

    &__logo{
        max-height: 8rem;
    }


    &__form{        
        background-color: $background_secondary;
        border: 1px solid $font-secondary;
        border-radius: 1rem;
        padding: 2rem 1rem;
        width: 100%;
        box-shadow: 0 0 250px #000;
        padding: 4rem 2rem;
        // height: 70%;
        overflow-y: scroll;

        @media(max-width:768px){
            height: auto;
        }

       
        
        h1{
            font-size: 2.75rem;
            font-weight: 100;
            text-transform: uppercase;
            color: $font-secondary-lighter;
            text-align: center;
        }

        .field{
            label{
                color:$font!important;                
                
            }
            .ui.input{
                
                input{
                    border: 1px solid $font-secondary-lighter;
                    border-radius: .5rem;
                    background-color: $background_secondary;
                    height:4rem;
                    color:$font;
                    font-size: 1.6rem;
                    margin: .5rem 1rem;
                    
    
                    &::placeholder {
                        color: $font-secondary-lighter;
                    }
    
                    &[type="text"],
                    &[type="password"] {
                    background-repeat: no-repeat;
                    background-size: 1.5rem;
                    background-position: 1rem 50%;
                    }
    
                }
                
                
            }
        }

        .Reset__button__container{
            text-align: center;
            display: block;
            margin: .5rem 1rem;

            button{
                width: 100%;
                height: 3rem;
                font-size: 1.6rem;
                padding: 0;
                background-color: $font-secondary-lighter;
            }
        }

        p{
            font-size: 1.6rem;
            text-align: center;
            color: $font-secondary-lighter;
            a{
                color: $font-secondary-lighter;
                text-decoration: underline;
            }
        }

    }


}